<launch>
    <param name="robot_description" textfile="$(find dexter)/src/urdf/arm_gazebo.urdf"/>
    <rosparam file="$(find dexter)/my_controllers.yaml" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner"
    args="arm_controller"/>
    <node name = "robot_state_publisher" pkg = "robot_state_publisher" type="robot_state_publisher"/>
</launch>